vcns = {
  vcn = {
    cidr_blocks      = ["10.0.0.0/16"]
    display_name     = "vcn"
    dns_label        = "vcn"
    compartment_name = "dev"
    is_ipv6enabled   = true
  }
}

internet_gateways = {
  ig = {
    vcn_name = "vcn"
  }
}

nat_gateways = {
  ng = {
    display_name = "ng"
    vcn_name     = "vcn"
  }
}

service_gateways = {
  sg = {
    display_name = "sg"
    vcn_name     = "vcn"
  }
}

subnets = {
  svcs_lb = {
    display_name               = "svcs_lb"
    cidr_block                 = "10.0.20.0/24"
    dns_label                  = "svcslb"
    prohibit_public_ip_on_vnic = false
    route_table_name           = "public"
    vcn_name                   = "vcn"
    compartment_name           = "dev"
  }
  nodes = {
    display_name               = "nodes"
    cidr_block                 = "10.0.10.0/24"
    dns_label                  = "nodes"
    prohibit_internet_ingress  = true
    prohibit_public_ip_on_vnic = true
    route_table_name           = "private"
    vcn_name                   = "vcn"
    compartment_name           = "dev"
  }
  api_endpoint = {
    display_name               = "api_endpoint"
    cidr_block                 = "10.0.0.0/28"
    dns_label                  = "apiendpoint"
    prohibit_internet_ingress  = true
    prohibit_public_ip_on_vnic = true
    route_table_name           = "private"
    vcn_name                   = "vcn"
    compartment_name           = "dev"
  }
}

route_tables = {
  public = {
    display_name = "public"
    vcn_name     = "vcn"
    route_rules = [
      {
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ig_ig"
      }
    ]
  }
  private = {
    display_name = "private"
    vcn_name     = "vcn"
    route_rules = [
      {
	description         = "traffic to OCI services"
	destination         = "services"
	destination_type    = "SERVICE_CIDR_BLOCK"
	network_entity_name = "sg_sg"
      },
      {
	description         = "traffic to the internet"
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ng_ng"
      }
    ]
  }
}

nsgs = {
  bastion = {
    compartment_name = "dev"
    vcn_name         = "vcn"
    display_name     = "bastion"
  }
  nodes = {
    compartment_name = "dev"
    vcn_name         = "vcn"
    display_name     = "nodes"
  }
  api_endpoint = {
    compartment_name = "dev"
    vcn_name         = "vcn"
    display_name     = "api-endpoint"
  }
  svcs_lb = {
    compartment_name = "dev"
    vcn_name         = "vcn"
    display_name     = "svcs-lb"
  }
}

nsg_rules = {
  bastion_ssh_ingress = {
    network_security_group_name = "bastion"
    description                 = "SSH ingress to bastion"
    direction                   = "INGRESS"
    protocol                    = "6"
    source                      = "0.0.0.0/0"
    source_type                 = "CIDR_BLOCK"
    tcp_options = {
      destination_port_range = {
	min = 22
	max = 22
      }
    }
  }
  bastion_to_nodes_ssh = {
    network_security_group_name = "bastion"
    description                 = "Bastion egress to nodes SSH"
    direction                   = "EGRESS"
    protocol                    = "6"
    destination                 = "nodes"
    destination_type            = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 22
	max = 22
      }
    }
  }
  nodes_from_bastion_ssh = {
    network_security_group_name = "nodes"
    description                 = "Bastion ingress to nodes SSH"
    direction                   = "INGRESS"
    protocol                    = "6"
    source                      = "bastion"
    source_type                 = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 22
	max = 22
      }
    }
  }
  api_from_nodes_6443 = {
    network_security_group_name = "api_endpoint"
    description                 = "Nodes to API endpoint 6443"
    direction                   = "INGRESS"
    protocol                    = "6"
    source                      = "nodes"
    source_type                 = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 6443
	max = 6443
      }
    }
  }
  api_from_nodes_12250 = {
    network_security_group_name = "api_endpoint"
    description                 = "Nodes to API endpoint 12250"
    direction                   = "INGRESS"
    protocol                    = "6"
    source                      = "nodes"
    source_type                 = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 12250
	max = 12250
      }
    }
  }
  api_to_nodes_tcp = {
    network_security_group_name = "api_endpoint"
    description                 = "Control plane egress to nodes TCP"
    direction                   = "EGRESS"
    protocol                    = "6"
    destination                 = "nodes"
    destination_type            = "NETWORK_SECURITY_GROUP"
  }
  api_to_nodes_icmp = {
    network_security_group_name = "api_endpoint"
    description                 = "Control plane egress path discovery to nodes"
    direction                   = "EGRESS"
    protocol                    = "1"
    destination                 = "nodes"
    destination_type            = "NETWORK_SECURITY_GROUP"
    icmp_options = {
      code = 4
      type = 3
    }
  }
  nodes_to_api_6443 = {
    network_security_group_name = "nodes"
    description                 = "Nodes egress to API endpoint 6443"
    direction                   = "EGRESS"
    protocol                    = "6"
    destination                 = "api_endpoint"
    destination_type            = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 6443
	max = 6443
      }
    }
  }
  nodes_to_api_12250 = {
    network_security_group_name = "nodes"
    description                 = "Nodes egress to API endpoint 12250"
    direction                   = "EGRESS"
    protocol                    = "6"
    destination                 = "api_endpoint"
    destination_type            = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 12250
	max = 12250
      }
    }
  }
  nodes_from_api_tcp = {
    network_security_group_name = "nodes"
    description                 = "Control plane ingress to nodes TCP"
    direction                   = "INGRESS"
    protocol                    = "6"
    source                      = "api_endpoint"
    source_type                 = "NETWORK_SECURITY_GROUP"
  }
  nodes_from_api_icmp = {
    network_security_group_name = "nodes"
    description                 = "Control plane ingress path discovery to nodes"
    direction                   = "INGRESS"
    protocol                    = "1"
    source                      = "api_endpoint"
    source_type                 = "NETWORK_SECURITY_GROUP"
    icmp_options = {
      code = 4
      type = 3
    }
  }
  nodes_to_services_443 = {
    network_security_group_name = "nodes"
    description                 = "Nodes egress to OCI services 443"
    direction                   = "EGRESS"
    protocol                    = "6"
    destination                 = "services"
    destination_type            = "SERVICE_CIDR_BLOCK"
    tcp_options = {
      destination_port_range = {
	min = 443
	max = 443
      }
    }
  }
  nodes_to_internet_all = {
    network_security_group_name = "nodes"
    description                 = "Nodes egress to internet"
    direction                   = "EGRESS"
    protocol                    = "all"
    destination                 = "0.0.0.0/0"
    destination_type            = "CIDR_BLOCK"
  }
  nodes_to_nodes_all = {
    network_security_group_name = "nodes"
    description                 = "Nodes egress to nodes"
    direction                   = "EGRESS"
    protocol                    = "all"
    destination                 = "nodes"
    destination_type            = "NETWORK_SECURITY_GROUP"
  }
  nodes_from_nodes_all = {
    network_security_group_name = "nodes"
    description                 = "Nodes ingress from nodes"
    direction                   = "INGRESS"
    protocol                    = "all"
    source                      = "nodes"
    source_type                 = "NETWORK_SECURITY_GROUP"
  }
  nodes_to_svcs_lb_all = {
    network_security_group_name = "nodes"
    description                 = "Nodes to service LB subnet workloads"
    direction                   = "EGRESS"
    protocol                    = "all"
    destination                 = "svcs_lb"
    destination_type            = "NETWORK_SECURITY_GROUP"
  }
  svcs_lb_from_nodes_all = {
    network_security_group_name = "svcs_lb"
    description                 = "Service LB ingress from nodes"
    direction                   = "INGRESS"
    protocol                    = "all"
    source                      = "nodes"
    source_type                 = "NETWORK_SECURITY_GROUP"
  }
  nodes_from_svcs_lb_80 = {
    network_security_group_name = "nodes"
    description                 = "Service LB ingress to nodes 80"
    direction                   = "INGRESS"
    protocol                    = "6"
    source                      = "svcs_lb"
    source_type                 = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 80
	max = 80
      }
    }
  }
  nodes_from_svcs_lb_443 = {
    network_security_group_name = "nodes"
    description                 = "Service LB ingress to nodes 443"
    direction                   = "INGRESS"
    protocol                    = "6"
    source                      = "svcs_lb"
    source_type                 = "NETWORK_SECURITY_GROUP"
    tcp_options = {
      destination_port_range = {
	min = 443
	max = 443
      }
    }
  }
}

source_ids = {
  "Oracle-Linux-10.1-2026.04.30-3" = "ocid1.image.oc1.."
}

instances = {
  bastion = {
    compartment_name    = "dev"
    availability_domain = 1
    create_vnic_details = {
      assign_public_ip = true
      nsg_names        = ["bastion"]
      subnet_name      = "svcs_lb"
    }
    display_name = "bastion"
    shape        = "VM.Standard.E4.Flex"
    shape_config = {
      memory_in_gbs = 16
      ocpus         = 2
    }
    source_details = {
      source_name = "Oracle-Linux-10.1-2026.04.30-3"
    }
    ssh_public_keys = [
      "ssh-rsa ..."
    ]
    cloud_init = [
      {
	content_type = "text/cloud-config"
	filename     = "userdata/bastion-copyfail-ksplice.yaml"
      }
    ]
  }
}
